/* 전체 공백 삭제 */
body {
    margin: 0;
}

/* 링크 설정 */
a {
    text-decoration-line: none;
    color: #000;
}

hr {
    background: rgb(165, 162, 162);
    border: 0;
    height: 1px;
}

/* 최상단 헤더 */
.header { 
    line-height: 60px;
    text-indent: 450px;
    display:block;
    position:fixed;
    background: rgb(255, 255, 255);
    width: 1903px;
    height: 66px;
    font-size: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    z-index: 1;
}

img {
    width: 160px;
    height: 63px;
}

.header span {
    font-size: 15px;
    font-weight: 800;
    margin:5px;
}

/* 배너 : aka main.jpg */
.banner {
    display: block;
    margin-top:0;
    width: 1903px;
    height: 383px;
    background-image: url(../image/main.jpg);
}

.banner .button {
    margin-left: 494px;
    margin-top: 25px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -0.5px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
}

.banner .button:hover{
    background-color:rgb(255, 255, 255, 0.5);
    
}

.banner p {
    margin-top: 44px;
    padding-left: 494px;
    padding-top: 88px;
    padding-bottom: 10px;
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-align: left;
    height: 80px;  
}

/* 팀원소개부분 */
.section {
    text-align: center;
}

.section button {
    display: inline;
    margin-right: 2%;
    width: 200px;
    height: 200px;
    border-style: none;
    border-radius: 50%;
}

.profile {
    display: inline;
    position: relative;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 2%;
    vertical-align: middle;
}

.profile img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.profile span {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
    top: -30%;
    left: 43%;
    transform: translat(-50%, -50%);
}

.profile img:hover span:after {
    content:"hey";
}

/*콘텐츠 부분*/
.content {
    display: inline-block;
    width: 32%;
    height: 50%;
    padding-left: 490px;
    position: static;
}

.content img {
    vertical-align: middle;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content h2 {
    margin-top: 5px;
    margin-bottom: 0%;
    font-size: 36px;
}

.content p {
    font-size: 14px;
    margin-bottom: 5%;
    line-height: 180%;
}

/* 말 줄임 부분이지만 필요 없어서 생략
.ellipsis {
    width: 250px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
*/

/* ================ */

.nav {
    display: inline-block;
    position: static;
    margin-left: 5%;
}

strong {
    font-size: 21px;
    color:rgb(107, 206, 201);
}

li {
    list-style: none;
    margin-top: 5px; 
    font-size: 18px;
}


.footer {
    width: 1903px;
    height: 92px;
    text-align: center;
    color: rgb(165, 162, 162);
    font-size: 20px;
    line-height: 90px;
}
