/* 전체 공백 삭제 */
body {
    margin: 0;
}

/* 링크 설정 */
a {
    text-decoration-line: none;
    color: #000;
}

.long {
    background: rgb(165, 162, 162);
    border: 0;
    height: 1px;
    width: 48%;
}

hr {
    background: rgb(165, 162, 162);
    border: 0;
    height: 1px;;
}

/* 최상단 헤더 */
.header { 
    line-height: 60px;
    text-indent: 450px;
    display:block;
    position:fixed;
    background: rgb(255, 255, 255);
    width: 1903px;
    height: 66px;
    font-size: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

img {
    width: 160px;
    height: 63px;
}

.header span {
    font-size: 15px;
    font-weight: 800;
    margin:5px;
}

.content-layout h1 {
    font-size: 500%;
    color: #777;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

/*콘텐츠 부분*/
.content {
    display: inline-block;
    width: 32%;
    height: 50%;
    padding-left: 490px;
    padding-top: 50px;
    position: static;
}

.content img {
    vertical-align: middle;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content h2 {
    margin-top: 5px;
    margin-bottom: 0%;
    font-size: 36px;
}

.content p {
    font-size: 14px;
    margin-bottom: 5%;
    line-height: 180%;
}

.nav {
    display: inline-block;
    position: static;
    margin-left: 5%;
}

strong {
    font-size: 21px;
    color:rgb(107, 206, 201);
}

li {
    list-style: none;
    margin-top: 5px; 
    font-size: 18px;
}

.footer {
    width: 1903px;
    height: 92px;
    text-align: center;
    color: rgb(165, 162, 162);
    font-size: 20px;
    line-height: 90px;
}