body {
    margin: 0;
}

a {
    text-decoration-line: none;
    color: #000;
}

.banner .button {
    margin-left: 494px;
    margin-top: 25px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -0.5px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
}

.button:hover{
    opacity: 0.8;
    color:white;
}

.header { 
    line-height: 60px;
    text-indent: 450px;
    display:block;
    position:fixed;
    background: rgb(255, 255, 255);
    width: 1903px;
    height: 66px;
    font-size: 20px;
}

img {
    width: 160px;
    height: 63px;
}


.header span {
    font-size: 15px;
    font-weight: 800;
    margin:5px;
}

.banner {
    display: block;
    margin-top:0;
    width: 1903px;
    height: 383px;
    background-image: url("main.jpg");
}

.banner p {
    margin-top: 44px;
    padding-left: 494px;
    padding-top: 88px;
    padding-bottom: 10px;
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-align: left;
    height: 80px;  
}

.section {
    text-align: center;
}


.section button {
    display: inline;
    margin-right: 2%;
    width: 200px;
    height: 200px;
    border-style: none;
    border-radius: 50%;
}

.section span {
    margin: 0;
    padding: 0;
    display: inline;
}

.section .first {
    background-image: url("profile1.png");
}

.first:hover {
    border-style: none;
    opacity: 0.5;
}

.first span:after {
    content: "PoPo";
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.first:hover span:after {
    margin: 0;
    padding: 0;
    content: "contact me by email: 000000@gmail.com";
    font-size: 15px;
    color:rgb(65, 0, 243);
}

.second {
    background-image: url("profile2.png");
}

.second:hover {
    border-style: none;
    opacity: 0.5;
}

.second span:after {
    content: "Jna";
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.second:hover span:after {
    margin: 0;
    padding: 0;
    content: "contact me by email: 000000@gmail.com";
    font-size: 15px;
    color:rgb(65, 0, 243);
}


.content {
    display: inline-block;
    padding-left: 700px;
    padding-right: 300px;
    position: static;
}

.ellipsis {
    width: 250px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav {
    display: inline-block;
    position: relative;
    bottom: 270px;
}

.footer {
    width: 1903px;
    height: 92px;
    text-align: center;
    color: rgb(165, 162, 162);
    font-size: 20px;
    line-height: 90px;
}